<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	
	<title>herd.io</title>
	<meta name="description" content="GDD II Digital Game Project">
	<meta name="author" content="Meh.">
	
	<!-- Stylesheet Links -->
	
	<style>
		canvas {
			border: 2px solid black;
		}
	</style>
	
</head>

<body>
	<p>Hello World</p>
	<canvas id="primaryCanvas" width="640" height="480">
	
	<!-- Script Links -->
	<script src="/socket.io/socket.io.js"></script>
	<script src="../app/client.js"></script>
	
</body>
</html>