<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	
	<title>herd.io</title>
	<meta name="description" content="GDD II Digital Game Project">
	<meta name="author" content="Meh.">
	
	<!-- Stylesheet Links -->
	
	<style>
		canvas {
			position:absolute;
			top:0;
			left:0;
		}
	</style>
	
</head>

<body>
	<p>Hello World</p>
    <!-- <canvas id="primaryCanvas" width="640" height="480"> -->
    <canvas id="primaryCanvas" width="1000" height="480">
	
	<!-- Script Links -->
	<script src="/socket.io/socket.io.js"></script>
	<script src="../app/audio.js"></script>
	<script src="../app/display.js"></script>
	<script src="../app/input.js"></script>
	<script src="../app/network.js"></script>
	<script src="../app/gameManager.js"></script>
	<script src="../app/client.js"></script>
    <script src="../app/ui.js"></script>
	
</body>
</html>