<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	
	<title>herd.io</title>
	<meta name="description" content="GDD II Digital Game Project">
	<meta name="author" content="Meh.">
	
	<!-- Stylesheet Links -->
	<link rel="stylesheet" type="text/css" href="../styles/ui.css">
	<style>
		canvas {
			position:absolute;
			top:0;
			left:0;
			z-index: -999;
		}

		#startScreen, #controlsMenu, #leaderboard, #hud{
			display:none;
		}
	</style>
	
</head>

<body>
    <!-- width and height do not need to be set, because they are set in display.js -->
    <canvas id="primaryCanvas"> </canvas>

    <section id="startScreen">
    	<header> Sheepherd </header>
    	<span class="subtitle"> Developed by Meh. </span>
    	<label for"nameInput"> Enter Your Name: </label>
    	<input type="text" id="nameInput" name="playerName">
    	<div id="playerColor">
    		<label for="colorChoice">
    		<div id="colorChoice">
    			<input type="radio" name="playerColor" value="" />
    			<input type="radio" name="playerColor" value="" />
    			<input type="radio" name="playerColor" value="" />
    		</div>
    	</div>
    </section>

    <section id="controlsMenu">
    	<p> Toggle Controls: C </p>
    	<p> Toggle Shepherd Following: Right Click </p>
    	<p> Move Camera: Scroll Wheel </p>
    </section>

    <section id="leaderboard">

    </section>

    <section id="hud">

    </section>
	
	<!-- Script Links -->
	<script src="/socket.io/socket.io.js"></script>
	<script src="../app/utilities.js"></script>
	<script src="../app/audio.js"></script>
	<script src="../app/display.js"></script>
	<script src="../app/input.js"></script>
	<script src="../app/sheep.js"></script>
	<script src="../app/network.js"></script>
	<script src="../app/ui.js"></script>
	<script src="../app/gameManager.js"></script>
	<script src="../app/client.js"></script>

	
</body>
</html>